services:
  telegraf:
    image: telegraf:1.34
    container_name: telegraf
    restart: unless-stopped
    hostname: {{index . "hostname"}}
    environment:
      - TZ={{index . "timezone"}}
      - HOST_PROC=/host/proc
      - HOST_SYS=/host/sys
      - HOST_ETC=/host/etc
      - HOST_MOUNT_PREFIX=/host
    deploy:
      resources:
        limits:
          memory: 128M
          pids: 100
    volumes:
      - {{index . "data_dir"}}/config:/etc/telegraf:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc:/host/etc:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    security_opt:
      - no-new-privileges:true
    networks:
      - {{index . "network"}}

networks:
  {{index . "network"}}:
    external: true
